In [1]:
import numpy as np
import pandas as pd
import sklearn

imported  three modules for usage, loading data to train the model.
importing boston pricing data set

In [2]:
from sklearn.datasets import load_boston #imported a function 
df=load_boston()

In [11]:
df.keys()#df being a dictionary to print the keys

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [ ]:
print(df.DESCR)# dataset info

In [5]:
print(df.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

converting dataset into a panda dataframe,for easier analysis.

In [9]:
boston=pd.DataFrame(df.data,columns=df.feature_names)

coverted to a dataframe,which in which each column represents a feature and price for each house

In [14]:
#print(boston) #reyurn all the data 
boston.head()#returns firstt five elements

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

**Adding a new column "target" to the dataframe.**

In [15]:
boston['PRICE']=df.target#a column  being added with a name price 
boston.head(1)

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.9   4.98   24.0

[1 rows x 14 columns]

checking if any value is null, if a cell is empty then you will get true,meaning it has a null value. ".sum()" is an extension used tto see the no of empty cells in each row

In [19]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

to split the data into training dataset and testing dataset, for the model to be trained and tested upon.

In [ ]:
from sklearn.model_selection import train_test_split 
X= boston.drop('PRICE',axis=1)#axis=1 reprsents column
Y=boston['PRICE'] 
#spliting x ,y in training and testing verions 
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=5) #test_size=choosing 15 out of every 100 values,random state represents no of possible test sizes 

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

*Importing linear regression model from sklearn*

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [23]:
lin_model=LinearRegression()#obtained the model 
lin_model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
Y_train_predict=lin_model.predict(X_train);#asking to prdict values from which we trained 
rmse=(np.sqrt(mean_squared_error(Y_train,Y_train_predict)))#getting the difference between real and predicted from trained data 

print("model performance for training set") 
print("RMSE = {}\n".format(rmse)) 

Y_test_predict=lin_model.predict(X_test) 
rmse=(np.sqrt(mean_squared_error(Y_test,Y_test_predict))) 

print("model performance for testing set") 
print("RMSE = {}\n".format(rmse))

model performance for training set
RMSE = 4.710901797319796

model performance for testing set
RMSE = 4.687543527902972